body {
  background: #F8F9FA;
}
.App {
  text-align: center;
  color: #000;
  font-size: 14px;
  margin: 30px auto;
}

.Brand {
  font-size: 30px;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Brand {
  /*background: rgb(44, 16, 84);*/
  color: rgb(44, 16, 84);
  /*display: inline-block;*/
  /*padding: 0 5px;*/
  /*border-radius: 5px;*/
}

.Flag {
  color: #fff;
  background: #ed2333;
  border-radius: 0.25rem;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 0 5px;
  margin-left: 5px;
  line-height: 30px;
}

.Button {
  background:#ed2333;
  color:#fff;
  border:0;
  border-radius:0.25rem;
  padding: 0 5px;
  line-height: 30px;
  cursor: pointer;
  width: 200px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.Field {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px auto;
  border-radius: 10px;
  background: #fff;
  width: 100%;
  padding: 15px 0;
  ul {
    margin: 0
  }
}

.Note {
  font-size: 14px;
  color: red;
}

.Link {

}

.Title {
  margin-bottom: 15px;
  font-weight: bold;
  color: #343A40;
}

.List {
  list-style: none;
  padding: 0;
}

li {
  color: #6C757D;
  margin-bottom: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
